<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 接口的全限定符 -->
<mapper namespace="com.TianHan.mapper.UserMapper">

    <select id="queryAll" resultType="com.TianHan.pojo.User">
<!--        select * from users-->
        SELECT users.username,users.nickname,users.gender,users.occupation,users.avatar,users.departmentId, departments.name as departmentName FROM users left join departments on users.departmentId = departments.id
    </select>

    <!-- 查询使用 select标签
            id = 方法名
            resultType = 返回值类型
            标签内编写SQL语句
     -->
    <!--主键回显-->
    <insert id="insert" useGeneratedKeys="false" keyProperty="uid" keyColumn="uid">
        <!--注意SQL语句加括号-->
        INSERT INTO users (username,password,nickname,gender,occupation,avatar,departmentId) VALUES (#{username},#{password},#{nickname},#{gender},#{occupation},#{avatar},#{departmentId})
    </insert>

    <update id="update">
        <!--注意SQL语句加括号-->
        UPDATE users SET username = #{username}, password = #{password}, nickname = #{nickname}, gender = #{gender}, occupation = #{occupation}, avatar = #{avatar}, departmentId = #{departmentId} WHERE uid = #{uid}
    </update>

    <delete id="deleteById">
        <!--注意SQL语句加括号-->
        DELETE FROM users WHERE uid = #{uid}
    </delete>

    <select id="selectById" resultType="com.TianHan.pojo.User">
        SELECT * FROM users where uid = #{uid}
    </select>

    <select id="selectByUsername" resultType="com.TianHan.pojo.User">
        SELECT * FROM users where username = #{username}
    </select>

    <select id="selectAll" resultType="com.TianHan.pojo.User">
        SELECT users.username,users.nickname,users.gender,users.occupation,users.avatar,users.departmentId, departments.name as departmentName FROM users left join departments on users.departmentId = departments.id
        <where>
            <if test="username != null and username != ''">username like '%${username}%'</if>
        </where>
        ORDER BY uid DESC
    </select>

</mapper>